input {
    background: #ffffff;
    border: 1px solid #d5d5d5;
    font-size: 18px;
    color: #293845;
    outline-color: #d5d5d5;
    height: 50px;
    width: 327px;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  
  ::-webkit-input-placeholder {
    font-style: italic;
    font-size: 18px;
    color: #afafaf;
  }